@import './variables';

/* container */
.container-fluid {
  width: 100%;
}

.container {
  max-width: var(--width-container);
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--padding-container, 15);
  padding-right: var(--padding-container, 15);
}

/* row */
.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: - var(--padding-container);
  margin-right: - var(--padding-container);

  & > * {
    margin-top: var(--gutter-y);
  }
}

/* column creation */
@each $property, $key in $breakpoints__col {
  @for $i from 1 through $columns {
    @media (min-width: $key) {
      .col-#{$property}-#{$i} {
        flex: 0 0 auto;
        width: (100% / $columns) * $i;
        padding-left: 15px;
        padding-right: 15px;
      }
    }
  }
}
