@import "./variables";

/* media query */
@mixin xs {
  @media (min-width: map-get($breakpoints , "xs")) {
    @content;
  }
}

@mixin sm {
  @media (min-width: map-get($breakpoints , "sm")) {
    @content;
  }
}

@mixin md {
  @media (min-width: map-get($breakpoints , "md")) {
    @content;
  }
}

@mixin lg {
  @media (min-width: map-get($breakpoints , "lg")) {
    @content;
  }
}

@mixin xl {
  @media (min-width: map-get($breakpoints , "xl")) {
    @content;
  }
}

@mixin row() {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  margin-left: 15px;
  margin-right: 15px;
}

@mixin container {
  @each $breakpoints, $key in $breakpoints {
    @media (min-width: $key) {
      width: $key;
      margin-left: -15px;
      margin-right: -15px;
    }
  }
}
