/* flex box */
/* justify */
$justify-content-between: "space-between";
$justify-content-around: "space-around";
$justify-content-evenly: "space-evenly";
$justify-center: "center";
$justify-start: "flex-start";
$justify-end: "flex-end";

/* align items */
$align-items-center: "center";
$align-items-start: "flex-start";
$align-items-end: "flex-end";
$align-items-stretch: "stretch";

/* spacer */
$spacer: 1rem;

/* map padding */
$padding: (
  "p-1": $spacer * 0.25,
  "p-2": $spacer * 0.5,
  "p-3": $spacer * 1.5,
  "p-4": $spacer * 3,
  "p-5": $spacer * 5,
);

$paddingY: (
  "py-1": $spacer * 0.25,
  "py-2": $spacer * 0.5,
  "py-3": $spacer * 1.5,
  "py-4": $spacer * 3,
  "py-5": $spacer * 5,
);

$paddingX: (
  "px-0": $spacer,
  "px-1": $spacer * 0.25,
  "px-2": $spacer * 0.5,
  "px-3": $spacer * 1.5,
  "px-4": $spacer * 3,
  "px-5": $spacer * 5,
);

$paddingT: (
  "pt-0": $spacer,
  "pt-1": $spacer * 0.25,
  "pt-2": $spacer * 0.5,
  "pt-3": $spacer * 1.5,
  "pt-4": $spacer * 3,
  "pt-5": $spacer * 5,
);

$paddingL: (
  "pl-0": $spacer,
  "pl-1": $spacer * 0.25,
  "pl-2": $spacer * 0.5,
  "pl-3": $spacer * 1.5,
  "pl-4": $spacer * 3,
  "pl-5": $spacer * 5,
);

$paddingR: (
  "pr-0": $spacer,
  "pr-1": $spacer * 0.25,
  "pr-2": $spacer * 0.5,
  "pr-3": $spacer * 1.5,
  "pr-4": $spacer * 3,
  "pr-5": $spacer * 5,
);

$paddingB: (
  "pb-0": $spacer,
  "pb-1": $spacer * 0.25,
  "pb-2": $spacer * 0.5,
  "pb-3": $spacer * 1.5,
  "pb-4": $spacer * 3,
  "pb-5": $spacer * 5,
);

/* margin */
$margin: (
  "m-1": $spacer * 0.25,
  "m-2": $spacer * 0.5,
  "m-3": $spacer * 1.5,
  "m-4": $spacer * 3,
  "m-5": $spacer * 5,
);

$marginY: (
  "my-1": $spacer * 0.25,
  "my-2": $spacer * 0.5,
  "my-3": $spacer * 1.5,
  "my-4": $spacer * 3,
  "my-5": $spacer * 5,
);

$marginX: (
  "mx-0": $spacer,
  "mx-1": $spacer * 0.25,
  "mx-2": $spacer * 0.5,
  "mx-3": $spacer * 1.5,
  "mx-4": $spacer * 3,
  "mx-5": $spacer * 5,
);

$marginT: (
  "mt-0": $spacer,
  "mt-1": $spacer * 0.25,
  "mt-2": $spacer * 0.5,
  "mt-3": $spacer * 1.5,
  "mt-4": $spacer * 3,
  "mt-5": $spacer * 5,
);

$marginL: (
  "ml-0": $spacer,
  "ml-1": $spacer * 0.25,
  "ml-2": $spacer * 0.5,
  "ml-3": $spacer * 1.5,
  "ml-4": $spacer * 3,
  "ml-5": $spacer * 5,
);

$marginR: (
  "mr-0": $spacer,
  "mr-1": $spacer * 0.25,
  "mr-2": $spacer * 0.5,
  "mr-3": $spacer * 1.5,
  "mr-4": $spacer * 3,
  "mr-5": $spacer * 5,
);

$marginB: (
  "mb-0": $spacer,
  "mb-1": $spacer * 0.25,
  "mb-2": $spacer * 0.5,
  "mb-3": $spacer * 1.5,
  "mb-4": $spacer * 3,
  "mb-5": $spacer * 5,
);

/* responsive font size */
$font-size: 1rem;
$h1-font-size: $font-size * 2.5;
$h2-font-size: $font-size * 2;
$h3-font-size: $font-size * 1.75;
$h4-font-size: $font-size * 1.5;
$h5-font-size: $font-size * 1.25;
$h6-font-size: $font-size * 1;

// map font size
$size: (
  "h1": $h1-font-size,
  "h2": $h2-font-size,
  "h3": $h3-font-size,
  "h4": $h4-font-size,
  "h5": $h5-font-size,
  "h6": $h6-font-size,
);

/* position */
$position-relative: "relative";
$position-absolute: "absolute";
$position-fixed: "fixed";
$position-sticky: "sticky";

/* column */
$columns: 12;

/* breakpoins */
$breakpoints: (
  "xs": 320px,
  "sm": 576px,
  "md": 768px,
  "lg": 992px,
  "xl": 1200px,
);
