/* variable */
:root {
  --color-bg: "";
  --color-title-fontFamily: "";
  --color-text-fontFamily: "";
  --width-container: 1420px;
  --padding-container: 24;
}

/* grid system */
$columns: 12;
$breakpoints: (
  "xs": 0,
  "sm": 576px,
  "md": 768px,
  "lg": 992px,
  "xl": 1200px,
  "xxl": 1400px,
) !default;
