.DropdownItem {
  padding: 0.75rem 0.625rem;
  cursor: pointer;
}

.DropdownItem:hover {
  background-color: var(--color-primary);
  border-radius: 6px;
}

.DropdownItem:hover > .DropdownItem__title {
  color: #ffffff;
}

.DropdownItem:hover > .DropdownItem__box > .DropdownItem__box-title {
  color: #ffffff;
}

.DropdownItem:hover > .DropdownItem__box > .DropdownItem__box-icon {
  color: #ffffff;
}

.DropdownItem__box {
  display: flex;
  align-items: center;
}

.DropdownItem__box-icon {
  color: var(--color-title);
  font-size: 20px !important;
}

.DropdownItem__box-title {
  font-size: 1rem;
  line-height: 1;
  color: var(--color-title);
  margin-left: 0.5rem;
  font-weight: 400;
}

.DropdownItem__title {
  font-size: 1rem;
  line-height: 1;
  color: var(--color-title);
  margin-left: 0.5rem;
  font-weight: 400;
}
