@import "../mixin";

a,
img {
  display: inline-block;
}

button,
div,
article,
header,
footer,
nav {
  width: 100%;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.full-height {
  height: 100%;
}

.border {
  border: 1px solid red;
}

.row {
  @include row;
}

.container {
  @include container;
}

/* xs */
@media (min-width: 200px) {
  /* 1/12 */
  .col-xs-1 {
    -ms-flex-preferred-size: 8.33%;
    flex-basis: 8.33%;
    padding: 0 15px;
  }

  /* 2/12 */
  .col-xs-2 {
    -ms-flex-preferred-size: 16.66%;
    flex-basis: 16.66%;
    padding: 0 15px;
  }

  /* 3/12 */
  .col-xs-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    padding: 0 15px;
  }

  /* 4/12 */
  .col-xs-4 {
    -ms-flex-preferred-size: 33.33%;
    flex-basis: 33.33%;
    padding: 0 15px;
  }

  /* 5/12 */
  .col-xs-5 {
    -ms-flex-preferred-size: 41.66%;
    flex-basis: 41.66%;
    padding: 0 15px;
  }

  /* 6/12 */
  .col-xs-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    padding: 0 15px;
  }

  /* 7/12 */
  .col-xs-7 {
    -ms-flex-preferred-size: 58.33%;
    flex-basis: 58.33%;
    padding: 0 15px;
  }

  /* 8/12 */
  .col-xs-8 {
    -ms-flex-preferred-size: 66.66%;
    flex-basis: 66.66%;
    padding: 0 15px;
  }

  /* 9/12 */
  .col-xs-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    padding: 0 15px;
  }

  /* 10/12 */
  .col-xs-10 {
    -ms-flex-preferred-size: 83.33%;
    flex-basis: 83.33%;
    padding: 0 15px;
  }

  /* 11/12 */
  .col-xs-11 {
    -ms-flex-preferred-size: 91.66%;
    flex-basis: 91.66%;
    padding: 0 15px;
  }

  /* 12/12 */
  .col-xs-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    padding: 0 15px;
  }
}

/* sm */
@media (min-width: 576px) {
  .col-sm-1 {
    -ms-flex-preferred-size: 8.33%;
    flex-basis: 8.33%;
    padding: 0 15px;
  }

  .col-sm-2 {
    -ms-flex-preferred-size: 16.66%;
    flex-basis: 16.66%;
    padding: 0 15px;
  }

  .col-sm-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    padding: 0 15px;
  }

  .col-sm-4 {
    -ms-flex-preferred-size: 33.33%;
    flex-basis: 33.33%;
    padding: 0 15px;
  }

  .col-sm-5 {
    -ms-flex-preferred-size: 41.66%;
    flex-basis: 41.66%;
    padding: 0 15px;
  }

  .col-sm-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    padding: 0 15px;
  }

  .col-sm-7 {
    -ms-flex-preferred-size: 58.33%;
    flex-basis: 58.33%;
    padding: 0 15px;
  }

  .col-sm-8 {
    -ms-flex-preferred-size: 66.66%;
    flex-basis: 66.66%;
    padding: 0 15px;
  }

  .col-sm-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    padding: 0 15px;
  }

  .col-sm-10 {
    -ms-flex-preferred-size: 83.33%;
    flex-basis: 83.33%;
    padding: 0 15px;
  }

  .col-sm-11 {
    -ms-flex-preferred-size: 91.66%;
    flex-basis: 91.66%;
    padding: 0 15px;
  }

  .col-sm-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    padding: 0 15px;
  }
}

/* md */
@media (min-width: 768px) {
  .col-md-1 {
    -ms-flex-preferred-size: 8.33%;
    flex-basis: 8.33%;
    padding: 0 15px;
  }

  .col-md-2 {
    -ms-flex-preferred-size: 16.66%;
    flex-basis: 16.66%;
    padding: 0 15px;
  }

  .col-md-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    padding: 0 15px;
  }

  .col-md-4 {
    -ms-flex-preferred-size: 33.33%;
    flex-basis: 33.33%;
    padding: 0 15px;
  }

  .col-md-5 {
    -ms-flex-preferred-size: 41.66%;
    flex-basis: 41.66%;
  }

  .col-md-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    padding: 0 15px;
  }

  .col-md-7 {
    -ms-flex-preferred-size: 58.33%;
    flex-basis: 58.33%;
    padding: 0 15px;
  }

  .col-md-8 {
    -ms-flex-preferred-size: 66.66%;
    flex-basis: 66.66%;
    padding: 0 15px;
  }

  .col-md-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    padding: 0 15px;
  }

  .col-md-10 {
    -ms-flex-preferred-size: 83.33%;
    flex-basis: 83.33%;
    padding: 0 15px;
  }

  .col-md-11 {
    -ms-flex-preferred-size: 91.66%;
    flex-basis: 91.66%;
    padding: 0 15px;
  }

  .col-md-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    padding: 0 15px;
  }
}

/* lg */
@media (min-width: 992px) {
  .col-lg-1 {
    -ms-flex-preferred-size: 8.33%;
    flex-basis: 8.33%;
    padding: 0 15px;
  }

  .col-lg-2 {
    -ms-flex-preferred-size: 16.66%;
    flex-basis: 16.66%;
    padding: 0 15px;
  }

  .col-lg-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    padding: 0 15px;
  }

  .col-lg-4 {
    -ms-flex-preferred-size: 33.33%;
    flex-basis: 33.33%;
    padding: 0 15px;
  }

  .col-lg-5 {
    -ms-flex-preferred-size: 41.66%;
    flex-basis: 41.66%;
    padding: 0 15px;
  }

  .col-lg-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    padding: 0 15px;
  }

  .col-lg-7 {
    -ms-flex-preferred-size: 58.33%;
    flex-basis: 58.33%;
    padding: 0 15px;
  }

  .col-lg-8 {
    -ms-flex-preferred-size: 66.66%;
    flex-basis: 66.66%;
    padding: 0 15px;
  }

  .col-lg-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    padding: 0 15px;
  }

  .col-lg-10 {
    -ms-flex-preferred-size: 83.33%;
    flex-basis: 83.33%;
    padding: 0 15px;
  }

  .col-lg-11 {
    -ms-flex-preferred-size: 91.66%;
    flex-basis: 91.66%;
    padding: 0 15px;
  }

  .col-lg-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    padding: 0 15px;
  }
}

/* xl */
@media (min-width: 1200px) {
  .col-xl-1 {
    -ms-flex-preferred-size: 8.33%;
    flex-basis: 8.33%;
    padding: 0 15px;
  }

  .col-xl-2 {
    -ms-flex-preferred-size: 16.66%;
    flex-basis: 16.66%;
    padding: 0 15px;
  }

  .col-xl-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    padding: 0 15px;
  }

  .col-xl-4 {
    -ms-flex-preferred-size: 33.33%;
    flex-basis: 33.33%;
    padding: 0 15px;
  }

  .col-xl-5 {
    -ms-flex-preferred-size: 41.66%;
    flex-basis: 41.66%;
    padding: 0 15px;
  }

  .col-xl-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    padding: 0 15px;
  }

  .col-xl-7 {
    -ms-flex-preferred-size: 58.33%;
    flex-basis: 58.33%;
    padding: 0 15px;
  }

  .col-xl-8 {
    -ms-flex-preferred-size: 66.66%;
    flex-basis: 66.66%;
    padding: 0 15px;
  }

  .col-xl-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    padding: 0 15px;
  }

  .col-xl-10 {
    -ms-flex-preferred-size: 83.33%;
    flex-basis: 83.33%;
    padding: 0 15px;
  }

  .col-xl-11 {
    -ms-flex-preferred-size: 91.66%;
    flex-basis: 91.66%;
    padding: 0 15px;
  }

  .col-xl-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    padding: 0 15px;
  }
}

/* xxl */
@media (min-width: 1400px) {
  .col-xxl-1 {
    -ms-flex-preferred-size: 8.33%;
    flex-basis: 8.33%;
    padding: 0 15px;
  }

  .col-xxl-2 {
    -ms-flex-preferred-size: 16.66%;
    flex-basis: 16.66%;
    padding: 0 15px;
  }

  .col-xxl-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    padding: 0 15px;
  }

  .col-xxl-4 {
    -ms-flex-preferred-size: 33.33%;
    flex-basis: 33.33%;
    padding: 0 15px;
  }

  .col-xxl-5 {
    -ms-flex-preferred-size: 41.66%;
    flex-basis: 41.66%;
    padding: 0 15px;
  }

  .col-xxl-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    padding: 0 15px;
  }

  .col-xxl-7 {
    -ms-flex-preferred-size: 58.33%;
    flex-basis: 58.33%;
    padding: 0 15px;
  }

  .col-xxl-8 {
    -ms-flex-preferred-size: 66.66%;
    flex-basis: 66.66%;
    padding: 0 15px;
  }

  .col-xxl-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    padding: 0 15px;
  }

  .col-xxl-10 {
    -ms-flex-preferred-size: 83.33%;
    flex-basis: 83.33%;
    padding: 0 15px;
  }

  .col-xxl-11 {
    -ms-flex-preferred-size: 91.66%;
    flex-basis: 91.66%;
    padding: 0 15px;
  }

  .col-xxl-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    padding: 0 15px;
  }
}
